cachelib==0.13.0
click==8.1.8
dnspython==2.7.0
email-validator==2.0.0
Flask==2.2.5
Flask-Caching==2.3.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
SQLAlchemy==2.0.40
typing_extensions==4.13.2
Werkzeug==2.2.3
WTForms==3.2.1
